@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: #1e293b; */
  /* color: white; */
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
tr td a{
  color:green;
}
tr:hover{
  background-color: #130d36;
  color: white;
}

@media screen and (max-width: 884px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;

  }
  .sidebar-list{
    display: flex;
    justify-content: space-between;
  }
}