@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
=======

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
>>>>>>> vercel-prisma



body {
  padding: 0.5rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: inherit;
}
