@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  /* background-color: #1e293b; */
  color: #c8c5c6;
}

body{

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}