@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #1e293b;
  --fg: white;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size:14px;
  /* font-size: 18px; */
  background-color: var(--bg);
  color: var(--fg);
}

input{
  color: blue;
  padding-left:1rem;
}